<!-- View for creating a new `Comment` -->
<!-- See http://guides.rubyonrails.org/form_helpers.html#dealing-with-basic-forms for more information -->

<h3>Add new comment</h1>

<%= render 'comments/comment_form' %>

