<div class="form_search">
  <%= form_tag(root_path, :method => 'get', remote: true) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter search term" %>
    <%= submit_tag("Search", :name => nil) %>
  <%end%>
</div>
