<!-- View for showing all `Posts` -->
<!-- `posts_path` -->

<br/>
<%= render 'search_form' %>

<div id="all-posts">
  <h1>View all posts below</h1>
  <%= render :partial => "posts" %>
</div>

<div id="search-results">
</div>